# Data Cleaning

In [1]:
import pandas as pd

# load polution csv file
df = pd.read_csv('../../data/raw/pollution_2000_2021.csv')
df

,Date,Year,Month,Day,Address,State,County,City,O3 Mean,O3 1st Max Value,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,2000,1,1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,...,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,2000,1,2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.032,...,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,2000,1,3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,0.016,...,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,2000,1,4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.033,...,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,2000,1,5,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,0.012,...,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608694,2021-06-26,2021,6,26,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.040588,0.049,...,0,1.0,0.409091,0.7,2,0.0,1.281818,2.1,0,2
608695,2021-06-27,2021,6,27,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.037882,0.042,...,0,1.0,0.325000,0.4,4,0.0,1.104167,2.3,20,2
608696,2021-06-28,2021,6,28,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.039765,0.050,...,0,1.0,0.326087,0.5,2,0.0,1.678261,5.8,23,5
608697,2021-06-29,2021,6,29,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.049176,0.058,...,0,1.0,0.317391,0.5,20,0.0,2.934783,7.4,0,7
608698,2021-06-30,2021,6,30,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.052333,0.054,...,0,1.0,0.366667,0.5,3,0.0,2.762500,7.5,5,7

In [2]:
# drop unnecessary columns
df1 = df.drop(columns=['Year', 'Month', 'Day', 'O3 1st Max Value', 'O3 1st Max Hour', 'CO 1st Max Value', 'CO 1st Max Hour', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'NO2 1st Max Value', 'NO2 1st Max Hour'])
df1

,Date,Address,State,County,City,O3 Mean,O3 AQI,CO Mean,CO AQI,SO2 Mean,SO2 AQI,NO2 Mean,NO2 AQI
0,2000-01-01,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,37,0.878947,25.0,3.000000,13.0,19.041667,46
1,2000-01-02,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,30,1.066667,26.0,1.958333,4.0,22.958333,34
2,2000-01-03,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,15,1.762500,28.0,5.250000,16.0,38.125000,48
3,2000-01-04,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,31,1.829167,34.0,7.083333,23.0,40.260870,72
4,2000-01-05,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,11,2.700000,42.0,8.708333,21.0,48.450000,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
608694,2021-06-26,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.040588,45,0.100000,1.0,0.409091,0.0,1.281818,2
608695,2021-06-27,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.037882,39,0.100000,1.0,0.325000,0.0,1.104167,2
608696,2021-06-28,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.039765,46,0.100000,1.0,0.326087,0.0,1.678261,5
608697,2021-06-29,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.049176,61,0.066667,1.0,0.317391,0.0,2.934783,7
608698,2021-06-30,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.052333,50,0.054167,1.0,0.366667,0.0,2.762500,7

In [3]:
# load city csv file
city = pd.read_csv('../../data/raw/city_population.csv')
city

           City                 County      State Population (at 2000)
0    Birmingham              Jefferson    Alabama              242,820
1     Fairbanks  Fairbanks North Star      Alaska               30,224
2       Phoenix               Maricopa    Arizona            1,321,045
3    Scottsdale               Maricopa    Arizona              202,705
4        Tucson                   Pima    Arizona              486,699
..          ...                    ...        ...                  ...
174   Milwaukee              Milwaukee  Wisconsin              596,974
175    Riverton                Fremont    Wyoming                9,276
176       rural                Laramie    Wyoming                    0
177       rural             Sweetwater    Wyoming                    0
178       rural                  Uinta    Wyoming                    0

[179 rows x 4 columns]

In [4]:
# merge city dataframe to add population column
df2 = pd.merge(df1, city, on=['State', 'County', 'City'], how='left')
df2

,Date,Address,State,County,City,O3 Mean,O3 AQI,CO Mean,CO AQI,SO2 Mean,SO2 AQI,NO2 Mean,NO2 AQI,Population (at 2000)
0,2000-01-01,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,37,0.878947,25.0,3.000000,13.0,19.041667,46,"1,321,045"
1,2000-01-02,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,30,1.066667,26.0,1.958333,4.0,22.958333,34,"1,321,045"
2,2000-01-03,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,15,1.762500,28.0,5.250000,16.0,38.125000,48,"1,321,045"
3,2000-01-04,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,31,1.829167,34.0,7.083333,23.0,40.260870,72,"1,321,045"
4,2000-01-05,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,11,2.700000,42.0,8.708333,21.0,48.450000,58,"1,321,045"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608694,2021-06-26,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.040588,45,0.100000,1.0,0.409091,0.0,1.281818,2,NaN
608695,2021-06-27,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.037882,39,0.100000,1.0,0.325000,0.0,1.104167,2,NaN
608696,2021-06-28,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.039765,46,0.100000,1.0,0.326087,0.0,1.678261,5,NaN
608697,2021-06-29,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.049176,61,0.066667,1.0,0.317391,0.0,2.934783,7,NaN
608698,2021-06-30,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.052333,50,0.054167,1.0,0.366667,0.0,2.762500,7,NaN

In [5]:
# load coordinate csv file
cord = pd.read_csv('../../data/raw/coordinates.csv')
cord

,Address,City,County,State,Coordinate
0,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Birmingham,Jefferson,Alabama,"33.553163660637175, -86.81494751846658"
1,809 Pioneer Road,Fairbanks,Fairbanks North Star,Alaska,"64.84521732649479, -147.7260026882155"
2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Phoenix,Maricopa,Arizona,"33.46701848579644, -112.04594469280266"
3,4530 N 17TH AVENUE,Phoenix,Maricopa,Arizona,"33.50383068311651, -112.09590087614089"
4,2857 N MILLER RD-S SCOTTSDALE STN,Scottsdale,Maricopa,Arizona,"33.47998849096707, -111.91721764545072"
...,...,...,...,...,...
211,"UWM NORTH CAMPUS, 2114 E KENWOOD BLVD",Milwaukee,Milwaukee,Wisconsin,"43.07534929340533, -87.88142982718428"
212,"90 GAS HILL ROAD, RIVERTON, WY",Riverton,Fremont,Wyoming,"42.995134220820816, -108.3729889892868"
213,NCore - North Cheyenne Soccer Complex,rural,Laramie,Wyoming,"41.14772291116132, -104.83969842520898"
214,Tata Gaseous,rural,Sweetwater,Wyoming,"41.60652226337611, -109.76594923517278"
215,Murphy Ridge LOCATED NEAR WYOMING UTAH BORDER,rural,Uinta,Wyoming,"41.76620339058336, -110.98693970406767"

In [6]:
# split coordinates into Latitude and Longitude
cord[['Latitude', 'Longitude']] = cord['Coordinate'].str.split(', ', expand=True)
cord.drop(columns=['Coordinate'], inplace=True)

# re-order columns
cord = cord[['Address', 'Latitude', 'Longitude', 'State', 'County', 'City']]
cord

,Address,Latitude,Longitude,State,County,City
0,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",33.553163660637175,-86.81494751846658,Alabama,Jefferson,Birmingham
1,809 Pioneer Road,64.84521732649479,-147.7260026882155,Alaska,Fairbanks North Star,Fairbanks
2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,33.46701848579644,-112.04594469280266,Arizona,Maricopa,Phoenix
3,4530 N 17TH AVENUE,33.50383068311651,-112.09590087614089,Arizona,Maricopa,Phoenix
4,2857 N MILLER RD-S SCOTTSDALE STN,33.47998849096707,-111.91721764545072,Arizona,Maricopa,Scottsdale
...,...,...,...,...,...,...
211,"UWM NORTH CAMPUS, 2114 E KENWOOD BLVD",43.07534929340533,-87.88142982718428,Wisconsin,Milwaukee,Milwaukee
212,"90 GAS HILL ROAD, RIVERTON, WY",42.995134220820816,-108.3729889892868,Wyoming,Fremont,Riverton
213,NCore - North Cheyenne Soccer Complex,41.14772291116132,-104.83969842520898,Wyoming,Laramie,rural
214,Tata Gaseous,41.60652226337611,-109.76594923517278,Wyoming,Sweetwater,rural
215,Murphy Ridge LOCATED NEAR WYOMING UTAH BORDER,41.76620339058336,-110.98693970406767,Wyoming,Uinta,rural

In [7]:
# merge coordinate data frame to add latitude and longitude
df3 = pd.merge(df2, cord, on=['Address', 'State', 'County', 'City'], how='left')
df3 = df3[['Date', 'Address', 'Latitude', 'Longitude', 'State', 'County', 'City', 'Population (at 2000)', 'O3 Mean', 'O3 AQI', 'CO Mean', 'CO AQI', 'SO2 Mean', 'SO2 AQI', 'NO2 Mean', 'NO2 AQI']]
df3

,Date,Address,Latitude,Longitude,State,County,City,Population (at 2000),O3 Mean,O3 AQI,CO Mean,CO AQI,SO2 Mean,SO2 AQI,NO2 Mean,NO2 AQI
0,2000-01-01,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,33.46701848579644,-112.04594469280266,Arizona,Maricopa,Phoenix,"1,321,045",0.019765,37,0.878947,25.0,3.000000,13.0,19.041667,46
1,2000-01-02,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,33.46701848579644,-112.04594469280266,Arizona,Maricopa,Phoenix,"1,321,045",0.015882,30,1.066667,26.0,1.958333,4.0,22.958333,34
2,2000-01-03,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,33.46701848579644,-112.04594469280266,Arizona,Maricopa,Phoenix,"1,321,045",0.009353,15,1.762500,28.0,5.250000,16.0,38.125000,48
3,2000-01-04,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,33.46701848579644,-112.04594469280266,Arizona,Maricopa,Phoenix,"1,321,045",0.015882,31,1.829167,34.0,7.083333,23.0,40.260870,72
4,2000-01-05,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,33.46701848579644,-112.04594469280266,Arizona,Maricopa,Phoenix,"1,321,045",0.007353,11,2.700000,42.0,8.708333,21.0,48.450000,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608694,2021-06-26,NCore - North Cheyenne Soccer Complex,NaN,NaN,Wyoming,Laramie,Not in a city,NaN,0.040588,45,0.100000,1.0,0.409091,0.0,1.281818,2
608695,2021-06-27,NCore - North Cheyenne Soccer Complex,NaN,NaN,Wyoming,Laramie,Not in a city,NaN,0.037882,39,0.100000,1.0,0.325000,0.0,1.104167,2
608696,2021-06-28,NCore - North Cheyenne Soccer Complex,NaN,NaN,Wyoming,Laramie,Not in a city,NaN,0.039765,46,0.100000,1.0,0.326087,0.0,1.678261,5
608697,2021-06-29,NCore - North Cheyenne Soccer Complex,NaN,NaN,Wyoming,Laramie,Not in a city,NaN,0.049176,61,0.066667,1.0,0.317391,0.0,2.934783,7
608698,2021-06-30,NCore - North Cheyenne Soccer Complex,NaN,NaN,Wyoming,Laramie,Not in a city,NaN,0.052333,50,0.054167,1.0,0.366667,0.0,2.762500,7

In [8]:
# export the dataframe into csv file and store it in processed folder
df3.to_csv('../../data/processed/pollution.csv', index=False)