In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme(style="whitegrid",
              font_scale=1.2, # This scales the fonts slightly higher
              )
# And we're going to remove the top and right axis lines
plt.rc("axes.spines", top=False, right=False)

abc
123
Hello World

In [4]:
df = pd.read_csv('../../data/processed/pollution.csv')

df['Total AQI'] = df['O3 AQI'] + df['CO AQI'] + df['SO2 AQI'] + df['NO2 AQI']
df.head()

,Date,Year,Month,Day,Address,State,County,City,O3 Mean,O3 AQI,CO Mean,CO AQI,SO2 Mean,SO2 AQI,NO2 Mean,NO2 AQI,Total AQI
0,2000-01-01,2000,1,1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,37,0.878947,25.0,3.000000,13.0,19.041667,46,121.0
1,2000-01-02,2000,1,2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,30,1.066667,26.0,1.958333,4.0,22.958333,34,94.0
2,2000-01-03,2000,1,3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,15,1.762500,28.0,5.250000,16.0,38.125000,48,107.0
3,2000-01-04,2000,1,4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,31,1.829167,34.0,7.083333,23.0,40.260870,72,160.0
4,2000-01-05,2000,1,5,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,11,2.700000,42.0,8.708333,21.0,48.450000,58,132.0

In [5]:
minDate=min(df['Date'])
maxDate=max(df['Date'])

print(minDate)
print(maxDate)

2000-01-01
2021-10-31

In [9]:
cities=df['City'].tolist()
newCities = list(dict.fromkeys(cities))
newCities

['Phoenix',
 'Scottsdale',
 'Tucson',
 'Concord',
 'Bethel Island',
 'San Pablo',
 'Pittsburg',
 'Calexico',
 'Bakersfield',
 'Burbank',
 'Los Angeles',
 'Long Beach',
 'Hawthorne',
 'Costa Mesa',
 'Rubidoux',
 'Not in a city',
 'Arden-Arcade',
 'Victorville',
 'Chula Vista',
 'San Diego',
 'San Francisco',
 'Capitan',
 'Lompoc',
 'Goleta',
 'Vandenberg Air Force Base',
 'Davenport',
 'Vallejo',
 'Welby',
 'Washington',
 'Winter Park',
 'Chicago',
 'Cicero',
 'Calumet City (PU RR name Calumet Park (sta.))',
 'Indianapolis (Remainder)',
 'Kansas City',
 'Ashland',
 'Lexington-Fayette (corporate name for Lexington)',
 'Henderson',
 'Louisville',
 'Paducah',
 'Baton Rouge',
 'Detroit',
 'Sunset Hills',
 'Ladue',
 'Ferguson',
 'St. Ann',
 'St. Louis',
 'Camden',
 'New York',
 'Holtsville',
 'Winston-Salem',
 'Charlotte',
 'Park Hill',
 'Ponca City',
 'Pittsburgh',
 'Beaver Falls',
 'Reading',
 'Altoona',
 'Bristol',
 'Johnstown',
 'Scranton',
 'Lancaster',
 'New Castle',
 'Norristown',
 'Freemansburg',
 'Philadelphia',
 'Charleroi',
 'Greensburg',
 'York',
 'Dallas',
 'El Paso',
 'Houston',
 'Seven Corners',
 'McLean',
 'Alexandria',
 'Seattle',
 'Milwaukee',
 'Oakland',
 'Crockett',
 'West Los Angeles',
 'East Saint Louis',
 'Boston',
 'Breckenridge Hills',
 'Boulder City',
 'Newark',
 'Miami',
 'Grand Rapids',
 'Manchester',
 'Annandale',
 'Fresno',
 'Denver',
 'Kenner',
 'Erie',
 'Eureka',
 'New Haven',
 'Presque Isle',
 'Essex',
 'Tulsa',
 'Wilkes-Barre',
 'North Little Rock',
 'Berkeley',
 'Benicia',
 'Westport',
 'East Hartford',
 'Valrico',
 'Northbrook',
 'Des Moines',
 'Beltsville',
 'Portland',
 'Waco',
 'Fontana',
 'Cherry Tree',
 'San Antonio',
 'San Jose',
 'Athens',
 'Cupertino',
 'Cornwall',
 'Reno',
 'Deer Park',
 'East Highland Park',
 'Hampton',
 'El Cajon',
 'Wilmington',
 'Blaine',
 'Albuquerque',
 'Rochester',
 'Cleveland',
 'Cincinnati',
 'Oklahoma City',
 'East Providence',
 'Sioux Falls',
 'Salt Lake City',
 'Austin',
 'Roosevelt',
 'Birmingham',
 'Vinton',
 'Fairbanks',
 'Grantsville',
 'Londonderry',
 'Raleigh',
 'Riverton',
 'Jackson',
 'Bismarck',
 'Dentsville (Dents)',
 'Rutland',
 'Sunrise Manor',
 'Midvale',
 'Memphis']

In [ ]:
for i in newCities: